div[data-testid="metric-container"] {
    /* Add your CSS styles here */
    background-color: #ebf7f5;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Alata', sans-serif;
    border-radius: 5px;
  }

div[data-testid="metric-container"] p {
font-weight: bold;
}

h3{
  color: rgb(36, 157, 191);
}
